form {
    display: flex;
    flex-direction: row;
}

label {
    margin-right: 10px;
}

input {
    margin-left: 10px;
}

.submit:hover {
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 10px 0;
        width: 100%;
    }
}