.horoscope-content {
    display: flex;
    flex-direction: row;
    animation: fadeIn ease 1.5s;
}

.horoscope-sign-img,
.details {
    width: 50%;
}

.details {
    padding: 5px 10px 5px 20px;
    text-align: center;
}

.horoscope-sign-img {
    margin-left: 10px;
    max-height: 70vh; 
}

.horoscope-sign-title {
    color: rgb(148,84,110);
    margin: 0 0 5px 0;
}

.yesterday,
.today,
.tomorrow {
    width: 50%;
}

.error-message,
.loading-message {
    text-align: center;
    padding: 50px;
}

h3 {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}