.sign-link {
    color: rgb(148,84,110);
}

.all-star-signs {
    border: solid 1px rgb(64,38,234);
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.8);
    background-blend-mode: darken;
    min-height: 160px;
    min-width: 160px;
    max-height: 160px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-title {
    margin: 0;
}

.sign-img {
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 500px) {

}