.all-star-signs-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.all-star-signs {
    border: solid 1px white;
    border-radius: 10px;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-title {
    margin: 0;
}

.sign-img {
    max-width: 100px;
    max-height: 100px;
}
