header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.site-title {
    background-image: linear-gradient( rgb(228, 12, 12), rgb(62,161,215) ,rgb(64, 26, 236));
    background-clip: text;
    color: transparent;
    font-size: xxx-large;
    margin: 0;
}

.saved-signs-link,
.home-link {
    border: none; 
    background: none;
    color: white;
}

@media screen and (max-width: 580px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .home-link {
        margin-bottom: 15px;
    }
}